<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性 用于指定当前的映射文件和当前那个接口进行映射 需要标注包的全路径-->
<mapper namespace="com.cy.store.mapper.CartMapper">

    <resultMap id="cartEntityMap" type="com.cy.store.entity.Cart">
        <!--在定义映射规则时，主键是不可以省略的-->
        <id property="cid" column="cid" />
        <result property="createdUser" column="created_user" />
        <result property="createdTime" column="created_time" />
        <result property="modifiedUser" column="modified_user" />
        <result property="modifiedTime" column="modified_time" />
    </resultMap>


    <insert id="insert" useGeneratedKeys="true" keyProperty="cid">
        insert into t_cart (uid, pid, price, num, created_user,created_time)
        values (#{uid}, #{pid}, #{price}, #{num}, #{createdUser}, #{createdTime})
    </insert>

    <update id="updateNumber">
        update t_cart
        set num = #{num},modified_user = #{modifiedUser},modified_time = #{modifiedTime}
        where cid = #{cid};
    </update>

    <select id="selectByUidAndPid" resultMap="cartEntityMap">
        select * from t_cart where uid = #{uid} and pid = #{pid};
    </select>

    <select id="findByUid" resultType="com.cy.store.vo.CartVO">
        SELECT cid,uid,pid,t_cart.price,t_cart.num,t_product.title,t_product.image,t_product.price as realPrice
        FROM t_cart LEFT JOIN t_product ON t_cart.pid = t_product.id
        WHERE uid = #{uid}
        ORDER BY t_cart.created_time DESC
    </select>

</mapper>